---
http_interactions:
- request:
    method: post
    uri: https://portal.clutch.com/authenticate/userpass
    body:
      encoding: UTF-8
      string: password=password&username=username
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/loginRedirect"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Jan 2018 13:28:09 GMT
- request:
    method: post
    uri: https://portal.clutch.com/transactions/search.json
    body:
      encoding: UTF-8
      string: brandId=7532&currentRange=Custom+Range&dateFrom=2018-01-14&dateTo=2018-01-15&groupId=7533&searchType=processed&timeFrom=00%3A00%3A00+am&timeTo=00%3A00%3A00+am&transactionTypes=3%2C5%2C9
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tableFields":[{"field":"Request","hidden":"false","decimals":null,"columnWidth":"15%","type":"text"},{"field":"External
        ID","hidden":"false","decimals":null,"columnWidth":"15%","type":"text"},{"field":"Card
        Number","hidden":"false","decimals":null,"columnWidth":"15%","type":"text"},{"field":"Type","hidden":"false","decimals":null,"columnWidth":"15%","type":"text"},{"field":"Date","hidden":"false","decimals":null,"columnWidth":"15%","type":"text"},{"field":"Terminal","hidden":"false","decimals":null,"columnWidth":"15%","type":"text"},{"field":"Amount","hidden":"false","decimals":2,"columnWidth":"15%","type":"decimal"},{"field":"Location","hidden":"false","decimals":null,"columnWidth":"15%","type":"text"},{"field":"Has
        Hold","hidden":"false","decimals":null,"columnWidth":"15%","type":"text"},{"field":"Request","hidden":"true","decimals":null,"columnWidth":"15%","type":"text"}],"lookerData":{"data":[["cc78e4ae-cc4e-40bd-accb-2cc00eb958fd","","67f1fd6fd66b28b7a49eface875170ea570370ce394f6ecee0d6db15d30bb448","Update
        Balance","01/14/2018 12:28:10","terminal",0,"Follain: Ecomm","Yes","<a href=\"/internalDebug/jsonRequests/find/cc78e4ae-cc4e-40bd-accb-2cc00eb958fd\"
        target=\"new\">Link</a>"],["f5e0ec3a-da66-4bd7-a0a9-09933a7d78eb","","9d2ffa5137a6e3e5408bf67c41e692cd222705b1825c524aeac300021ad55104","Update
        Balance","01/14/2018 12:28:10","terminal",0,"Follain: Ecomm","Yes","<a href=\"/internalDebug/jsonRequests/find/f5e0ec3a-da66-4bd7-a0a9-09933a7d78eb\"
        target=\"new\">Link</a>"],["4c1145cd-ade0-4006-a3ae-ae47f5c6c021","","838c4643705ef4c7559c227dc0bcad1a902368fbb2143e1ce8727547c7aa3afc","Update
        Balance","01/14/2018 13:57:28","terminal",0,"Follain: Ecomm","No","<a href=\"/internalDebug/jsonRequests/find/4c1145cd-ade0-4006-a3ae-ae47f5c6c021\"
        target=\"new\">Link</a>"],["803983bd-f6af-4d10-9744-eb9917571e24","","2105ca31eecc802a0ac49d0bd664fce8e190bed831435914d08bfec2948c88f5","Update
        Balance","01/14/2018 16:08:58","terminal",0,"Follain: Ecomm","Yes","<a href=\"/internalDebug/jsonRequests/find/803983bd-f6af-4d10-9744-eb9917571e24\"
        target=\"new\">Link</a>"]]},"csvdata":"cc78e4ae-cc4e-40bd-accb-2cc00eb958fd,,67f1fd6fd66b28b7a49eface875170ea570370ce394f6ecee0d6db15d30bb448,3,1515950890,4,0,1,1,cc78e4ae-cc4e-40bd-accb-2cc00eb958fd\r\nf5e0ec3a-da66-4bd7-a0a9-09933a7d78eb,,9d2ffa5137a6e3e5408bf67c41e692cd222705b1825c524aeac300021ad55104,3,1515950890,4,0,1,1,f5e0ec3a-da66-4bd7-a0a9-09933a7d78eb\r\n4c1145cd-ade0-4006-a3ae-ae47f5c6c021,,838c4643705ef4c7559c227dc0bcad1a902368fbb2143e1ce8727547c7aa3afc,3,1515956248,4,0,1,0,4c1145cd-ade0-4006-a3ae-ae47f5c6c021\r\n803983bd-f6af-4d10-9744-eb9917571e24,,2105ca31eecc802a0ac49d0bd664fce8e190bed831435914d08bfec2948c88f5,3,1515964138,4,0,1,1,803983bd-f6af-4d10-9744-eb9917571e24"}'
  recorded_at: Tue, 16 Jan 2018 13:28:09 GMT
- request:
    method: post
    uri: https://api-base.example.com/search
    body:
      encoding: UTF-8
      string: '{"limit":1,"offset":0,"filters":{"cardNumber":"67f1fd6fd66b28b7a49eface875170ea570370ce394f6ecee0d6db15d30bb448"},"returnFields":{"balances":true,"activationDate":true}}'
    headers:
      Authorization:
      - Basic YXBpLWtleTphcGktc2VjcmV0
      Brand:
      - brand
      Location:
      - location
      Terminal:
      - terminal
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cards":[{"cardNumber":"67f1fd6fd66b28b7a49eface875170ea570370ce394f6ecee0d6db15d30bb448","cardSetId":"brandgift","balances":[{"amount":0.03,"scale":2,"balanceType":"Currency","balanceCode":"USD","isHold":false},{"amount":13.36,"scale":2,"balanceType":"Currency","balanceCode":"USD","isHold":true,"holdingTransactionId":"cc78e4ae-cc4e-40bd-accb-2cc00eb958fd"}],"activationDate":"2017-10-04
        00:00:00"}],"usedCache":false,"success":true,"requestRef":"3c05e9b6-8010-40e4-b1cc-99e3b876fc83"}'
  recorded_at: Tue, 16 Jan 2018 13:28:09 GMT
[...]
- request:
    method: post
    uri: https://api-base.example.com/cardHistory
    body:
      encoding: UTF-8
      string: '{"limit":100,"offset":0,"cardNumber":"67f1fd6fd66b28b7a49eface875170ea570370ce394f6ecee0d6db15d30bb448","restrictTransactionTypes":["ALLOCATE","UPDATE_BALANCE"]}'
    headers:
      Authorization:
      - Basic YXBpLWtleTphcGktc2VjcmV0
      Brand:
      - brand
      Location:
      - location
      Terminal:
      - terminal
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"transactions":[{"transactionId":"cc78e4ae-cc4e-40bd-accb-2cc00eb958fd","isLegacy":false,"transactionTime":1515950890036,"location":"location","callType":"UPDATE_BALANCE","balanceUpdates":[{"balanceType":"Currency","balanceCode":"USD","amount":0.00}],"requestRef":"cc78e4ae-cc4e-40bd-accb-2cc00eb958fd"},{"transactionId":"3926cb26-4f72-43d0-a4b0-0ba9e91d8985","isLegacy":false,"transactionTime":1513194206445,"callType":"UPDATE_BALANCE","balanceUpdates":[],"requestRef":"3926cb26-4f72-43d0-a4b0-0ba9e91d8985"},{"transactionId":"d2459a5d-aca2-4bee-9d84-01e2a1faf346","isLegacy":false,"transactionTime":1513194206362,"callType":"ALLOCATE","balanceUpdates":[],"requestRef":"d2459a5d-aca2-4bee-9d84-01e2a1faf346"},{"transactionId":"1ed99099-4685-40a7-9f6b-09dc2e39eee7","isLegacy":false,"transactionTime":1507135486295,"location":"location","callType":"ALLOCATE","balanceUpdates":[],"requestRef":"1ed99099-4685-40a7-9f6b-09dc2e39eee7"}],"transactionCount":5,"matchCount":4,"oldestTransaction":"2017-10-04
        16:44:46","newestTransaction":"2018-01-14 17:28:10","success":true,"requestRef":"83cb0673-a11b-4050-b812-950a0507250a"}'
  recorded_at: Tue, 16 Jan 2018 13:28:09 GMT
[...]
